.odd {
background-color: lightpink;
font-family: ;
font-family: Verdana, DejaVu Sans, sans-serif;
}

#first{
color: blue;
font-size: 36px;
}

#second{
background-color: lightgreen;
font-size: 24px;
font-weight: bold;
}

.odd_but_cooler{
	font-size: 24px;
}